*{
    margin: 0;
    padding: 0;

}
/*color*/
@light:rgba(255, 255, 255, 1);
@bglight:rgba(249, 249, 249, 1);
@grey:rgba(196, 196, 196, 1);
@violet:rgba(93, 113, 221, 1);
@violetlight:rgba(125, 141, 228, 1);

@black: rgba(47, 34, 34, 1);
@text:rgba(47, 34, 34, 0.4);
@category: rgba(247, 248, 253, 1);



html{
    font-size: 10px;

}
body{
   font-size: 1rem;
   max-width: 192rem;
   cursor: url('../image/cursor_PNG3\ 1.png'), auto;
   font-family: 'Futura PT',sans-serif;
  color: @black;
  
}
.container{
    margin: 0 auto;
width:  137rem;
}

/*header*/
.header{
 
   background-color:@bglight;
   padding-bottom: 3rem;
   padding-top: 1.5rem;

    &-bottom{
    height: 30rem;
    height: 30rem;
    overflow: hidden; 
    position: relative; 
   /* background: url('/image/image\ large.jpg')no-repeat center;*/
    background-size: cover;
  
}
&-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; /* Ширина в 2 раза больше, чем контейнер */
    height: 100%;
    background: url('../image/image large.jpg') center; /* Фоновое изображение */
    background-color:@grey;
    animation: marquee 25s linear infinite; /* Задаем анимацию */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0); /* Начальная позиция */
    }
    100% {
      transform: translateX(-50%); /* Двигаемся влево на 50% */
    }
  }
  .header__nav{
    display: flex;
    background-color: @light;
    justify-content: space-between;
   align-items: center;
   font-family: Futura PT;
    .nav__list{
    display: flex;
    list-style: none;
    gap: 25px;
    align-items: flex-end;
    .nav__link{
        text-decoration: none;
        color:@black ;
        font-size: 1.8rem;
    }
    .phone{
        color: @violet;
    }
    .nav__link:hover{
        text-decoration: underline;
        color:@violet;
    
    }
}
}
}
/*main
 main__content*/
.main{
    margin: 0 auto;
    background-color:@bglight;
   padding-bottom: 6rem;
 
   /*main__content card */
    &__content{
        display: grid;
        gap:2rem;
     
      grid-template-columns: repeat(4, 32rem);
        grid-template-areas:
        'c1 c1 c1 c2'
        'c3 c3 c4 c2'
        'c5 tc tc .'
        'c5 tc tc .'
        'c8 c8 c9 .'
        'c8 c8 c9 .'
        'c10 tce tce .'
        'c10 tce tce .'
        '. p . .'
         ;
.card{
    border-radius: 2rem;
}
         .card__date{
            margin:2rem 3rem 0 0;
            text-align: right;
            font-size: 1.6rem;
            color: @text;
        }
        .light{background-color:@light;}
        .light-text{
            color: @light;
        }
        .date{
            margin: 16rem 0 3rem 2rem;
            text-align: left;
          }
        .card__category{
            display: flex;
            margin-left:3rem;
        height: 3.7rem;
            width: 11.1rem;
          justify-content: center;
            align-items: center;
            border-radius: 0.8rem;
            font-size: 1.6rem;
           line-height: 2rem;
            color: @violet;
            background-color: @category;
           
        }
      
       
        .card__title{
            margin: 3rem 2rem 1rem 3rem;
              text-align: left;
              font-size: 2.4rem;
          }
     
        p{text-align: left;
        
            font-size: 1.8rem;
            line-height: 2.3rem;
            font-weight: 400;
            color: @text;
            margin-left: 3rem;
        }
        h2{
            margin-top: 1rem;
         font-weight: 450;
         font-size: 2.4rem;
         color: @black;
    
           }
           .category-long{
            width: 21.1rem;
            height: 3.7rem;
            color :@light;
           
            font-size: 1.6rem;
           background-color:rgba(255, 255, 255, 0.2);
      margin-top: 2rem;
    
        }
        .two-card, .two-card-end{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .two-card{
         
            grid-area: tc;
        }
        .two-card-end{
            grid-area: tce;
        }
        .subscribe-button{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            width: 26rem;
            height: 4.9rem;
            text-align: center;
            align-items: center;
            font-size: 1.8rem;
            border: none;
            border-radius: 2rem;
            background-color: @violet;
            color: @light;
            cursor: url('../image/cursor_PNG3\ 1.png'), auto;
            animation: scale-animation 3s infinite; 
            animation-timing-function: ease-in-out;
        }
    .card1{
        grid-area: c1;
      width: 104rem;
        height: 28rem;
   
       
    }
    .card2{

        position: relative;
       margin-left: 2rem;
        grid-area: c2;
        border-radius: 0;
        max-width: 32rem;
       max-height: 67.2rem;
        text-align: left;
        .card2__news{padding-top: 1.5rem;
    .card2__new h4{
font-size: 1.8rem;
font-family: 'Futura PT';
font-weight: 400;
padding-bottom: 1rem;

    }
        }
        .card__title,p {
            margin: 0;
            padding-bottom: 0.8rem;
            }

        .card2__subscription{
            display: flex;
            align-items: center;
          
            flex-direction: column;
            background-color: @light;
            border-radius: 2rem;
            bottom: 0;
            /*position: absolute;*/
            width: 32rem;
            height: 27.1rem;
            .card__title-form{
               font-size: 2.4rem;
        margin: 3rem 0 2rem 0;
         
            
            
            }
        }
  
      .subscription-form{
    
        display: flex;
        flex-direction: column;
     
     .email-input{
        width: 26rem;
     text-align: center;
        height: 4.9rem;
        font-size: 1.8rem;
        border: none;
        border-radius: 2rem;
        background-color: rgba(245, 245, 245, 1);
        color: rgba(47, 34, 34, 0.4);
    
     }
    
    @keyframes scale-animation {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1); 
        }
    }
      }}

   
    .card3{
       
        grid-area: c3;
       /* width: 68rem;
        height: 40rem;*/
    }
    .card4{
       
        grid-area: c4;
        width: 32rem;
        height: 40rem;
        background-color: @violet;
   
        h2{
            margin:4rem 2.7rem;
            text-align: left;
            color: @light;
            font-size: 2.4rem;
            width: 26rem;
            height:6.2rem;
          
        }}
        .violet{
            background-color:@violetlight ;
            margin-top: 2rem;
            text-align: center;
            color:@light;
            width: 11rem;
            height: 3.7rem;
        }
      
    
    .card5{
        grid-area: c5;
        width: 32rem;
        /*height: 40rem;*/
        background: url('../image/card1.jpg');
        h2{
            width: 26rem;
            height: 9.3rem;
            font-size: 2.4rem;
        }
    }
 
.card6{
        grid-area: c6;
        width: 68rem;
        min-height: 18rem;
    
       h2{
        margin-top: 1rem;
        width: 60rem;
        height: 6.2rem;
        overflow: hidden;

       }
    }
    .card7{
  
        grid-area: c7;
        width: 68rem;
        height: 18rem;
        h2{
            margin:1rem 2.7rem;
            text-align: left;
        }
    }
    .card8{
        grid-area: c8;
        width: 68rem;
        height: 40rem;
       

    } 
     .card9{
        
        grid-area: c9;
     
    background-color: @violet;
      
    
        h2{
            margin:4rem 2.7rem;
            text-align: left;
            color: @light;
         
          
        }
    } 
     .card10{
        grid-area: c10;
        background-image: url('../image/card2.png');
        height: 40rem;
   
        .card__category{
            background: rgba(255, 255, 255, 0.2); 
            color: @light;
            margin-top: 3rem;
        }
  
    }  
    .card11{
  
        grid-area: c11;
       width: 68rem;
        height: 18rem;
        
        }
     
    
     .card12{
        grid-area: c12;
 
        width: 68rem;
        height: 18rem;
        h2{
            margin:2rem 2.7rem;
            text-align: left;
            
        }
    }}
/*pagination*/
    .main__content__pagination{

        margin-top: 6rem;
       width: 33.4rem;
       height: 4.3rem;
       padding: 0.8rem;
        display: flex;
        grid-area: p;
        align-items: center;
       /* justify-content: center;*/
    
    .pagination-link{
        font-size: 1.8rem;
        margin-right: 1rem;
        padding: 0.5rem;
   color: @black;
        text-decoration: none;
        
    }
    .pagination-link:hover{
        color:@violet;
        text-decoration: underline;
        font-size: 2rem;
    }
    .pagination-button{
 width: 13.7rem;
 height: 4.3rem;
        background-color: rgba(93, 113, 221, 0.05);
        color: @violet;
        font-size: 1.8rem;
        border: none;
        border-radius: 0.8rem;
    }
    .pagination-button:hover{
       width: 14rem;
       height: 5rem;
        cursor: pointer;
    }
    .pagination-button-small{
        display: none;
    }
}}
/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 27.3rem;
    background-color: rgba(93, 113, 221, 0.05);
    &__logo {
        margin: 0 auto;
        width: 5rem;
        height: 4.8rem;
   
   
    }
    &__nav{
       margin: 3rem;
    }
    &__nav__list{
        display: flex;
        list-style: none;
        justify-content: center;
    gap:6rem;
        .nav__link{
            color: @black;
            text-decoration: none;
            font-size: 1.8rem;
        }
    }
    &__entity{
        font-size: 1.4rem;
        margin-top: 2.5rem;
        text-align: center;
    }
}

/*@media*/
@media(max-width:1024px){
    .container{
        width: 940px;
    }
.header{

   &__logo, .nav__item{
    display: none;
   }
 
   &-bottom{
    margin-top: 2rem;
 
    height: 24rem;
   }
}
.header-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: url('../image/image.png') center;
    background-color: #c4c4c4;
    animation: marquee 25s linear infinite;
}
.main{
&__content{
    grid-template-columns: repeat(4, 30rem);
    grid-template-areas: 
    'c1 c1 c1'
    'c3 c3 c4'
    'c9 tc tc'
    '. p .'
    'c2 c2 c2';
    column-gap: 2rem;
    row-gap: 4rem;
   .card5, .card8,  .card10, .card11, .card12, .card__category, .card__date, p{
    display: none;
   }
h2{
    display: none;
}
   .card1{
    width: 94rem;
    height: 28rem;
 
   }
   .card2{
    display: flex;
    flex-direction: column;
    p{
        display: inline;
    }
    .card2__news{
        display: flex;
        
        width: 94rem;
        height: 14rem;
        margin-top: 2rem;
        gap: 1rem;
       .card2__new{
        width: 30rem;
        height: 7.9rem;
        position: relative;
        overflow: hidden;
       }
       .card2__new h4{
        height: 4.6rem;
        line-height: 2.73rem;
       display: -webkit-box;
       -webkit-box-orient: vertical;
       -webkit-line-clamp: 2;
       line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
       }
    }
    .card2__news hr{
        display: none;
    }
    .card2__subscription{

      
      width: 74rem;
justify-content: center;
align-items: start;
padding-left: 20rem;
 
       
   
        .subscription-form{
           
            flex-direction: row;
            gap:3rem;
    
            .email-input{
                width: 38rem;
                text-align: left;
                height: 5rem;
                margin-top: 2rem;
            }
            .subscribe-button{
                width: 24.4rem;
                height: 5rem;
               
            }
        }
    }
   }
   .card3{
    width: 62rem;
    height: 40rem;
   }
   .card4{
    width: 30rem;
    height: 40rem;
   }
   .card6, .card7{
    width: 62rem;
   }
}

}
.footer{
    margin-bottom: 2rem;
    &__logo, &__nav, &__entity
    {
        display: none;
    }

}
}

@media(max-width:320px){
    .container{
        width: 29rem;
    }
    .header-bottom{
    
        height: 15rem;
    }
    .header-bottom::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 100%;
        background: url('../image/image\ small.png') center;
        background-color: #c4c4c4;
        animation: marquee 25s linear infinite;
    }
    .main{
    .main__content{padding-bottom: 18rem;
        grid-template-columns: 28rem;
        grid-template-areas:
        'c1'
        'c3'
        'c4'
        'c9'
        'tc'
        'tc'
        'p'
        'c2';
        .card{
            width: 28rem;
            height: 35rem;
            
        }
        .card2{
          
            margin: 0 auto;
            .card__title{
                text-align:center ;
                margin: 2rem 0;
            }
            .card2__news{
                flex-direction: column;
                width: auto;
              height: 33.8rem;
                gap:1rem;
                hr{
                    height: 0.1rem;
                    display: inline;
                   }

                .card2__new{
width: 28rem;
height: 7.9rem;
p{
    display: inline-block;
}
                }
            }
            .card2__subscription{
                flex-direction: column;
                padding: 0.2rem;
                width: auto;
                .subscription-form{
                    flex-direction: column;
                
                    margin: 0 auto;
                    .email-input{
                     width: 28rem;
                     text-align: center;
                     height: 5rem;
                     margin-top: 2rem;
                    }
                    .subscribe-button{
                        width: 28rem;
                        height: 5rem;
                    }
                }
            }
        }
      &__pagination  {
        margin-bottom: 5rem;
            .pagination-link, .pagination-button{
                display: none;
            }
        .pagination-button-small{
            display: flex;
            align-items: center;
          
        }}
    }}
    .footer{
    
        height: 29.5rem;
    }
}